<h1>Voici tous les restaurants</h1>
<br>

<div id="restaurants">
  <%@restaurants.each do|restaurant|%>
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
    <p><%= link_to "Show this restaurant", restaurant %></p>
  <%end %>
</div>
